name: .NET Code Test Console

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: 32074733-bb41-4b1c-9868-ddaa638c1a5e.sln                        # Replace with your solution name, i.e. MyWpfApp.sln.
      Test_Project_Path: Tests\Tests.csproj                 # Replace with the path to your test project, i.e. MyWpfApp.Tests\MyWpfApp.Tests.csproj.

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Install the .NET workload
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ${{ env.Solution_Name }}
      
    - name: Build
      run: dotnet build ${{ env.Solution_Name }} --configuration ${{ matrix.configuration }} --no-restore
      
    # Execute all unit tests in the solution
    - name: Execute tests with code coverage
      run: dotnet test ${{ env.Solution_Name }} --configuration ${{ matrix.configuration }} --no-build --collect:"XPlat Code Coverage" --results-directory ./CodeCoverage --verbosity detailed

    - name: Upload coverage results
      uses: actions/upload-artifact@v4
      with:
          name: coverage-${{ matrix.configuration }}
          path: CodeCoverage


